/*
!.gitignore
!favicon.ico
!wp-content

wp-content/*
!wp-content/plugins
!wp-content/themes

wp-content/plugins/*
!wp-content/plugins/pbdigital-api
!wp-content/plugins/h5pmods
!wp-content/plugins/pbdigital-api
!wp-content/plugins/tin-canny-learndash-reporting
wp-content/plugins/pbdigital-api/avatars_cropped
wp-content/plugins/pbdigital-api/avatars_full
wp-content/plugins/pbdigital-api/avatars_html
wp-content/plugins/pbdigital-api/avatars_raw_img
wp-content/plugins/pbdigital-api/certificate_images
wp-content/plugins/pbdigital-api/vendor

wp-content/themes/*
!wp-content/themes/buddyboss-theme-child